div.center_div {
    width: 600px;
    height: 800px;
    text-align:center;



    margin: auto;
    margin-top: 10mm;
}

table.center_table {
    margin-left:auto; 
    margin-right:auto;
    margin-top:10mm;
  }

.logo
{
    margin-top: 10mm
}